{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

  
    <div class="container">
      <h1>Album de fotos</h1>
    </div>

    <div class="container">
      <div class="row">

        {% for urls in lista_url %}

          <div class="col s6 m4 l3">
            <picture>

              {% for i in urls %}
                {% if not forloop.last %}
                  <source srcset="{{ i.url_img }}" media="{{ '(max-width: '|add:i.dimension|add:'px)' }}">
                {% else %}
                  <img src="{{ i.url_img }}" alt="{{ 'imagen.jpg' }}" class="responsive-img hoverable">         
                {% endif %}                
              {% endfor %}
              
            </picture>           
          </div>

        {% endfor %}

      </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}"></script>
  </body>
</html>